<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <connectionStrings>
    <add name="Main" connectionString="Data Source=RDRRL7\D1;Integrated Security=SSPI;Database=DevII;Application Name=QIQOBusinessServices" />
    <add name="Identity" connectionString="Data Source=RDRRL7\D1;Integrated Security=SSPI;Database=QIQOIdentity;Application Name=QIQOIdentityServices" />
  </connectionStrings>

  <appSettings>
    <add key="audit_on_read" value="true"/>
  </appSettings>
  <system.serviceModel>

    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="false" logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="false"/>
    </diagnostics>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindingMAX" openTimeout="00:15:00" sendTimeout="00:15:00" maxBufferPoolSize="4294967294" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="Transport">
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>
        <binding name="netTcpBindingMAXTxn" openTimeout="00:15:00" sendTimeout="00:15:00" maxBufferPoolSize="4294967294"
                 maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transactionFlow="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="Transport">
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>
        <binding name="netTcpBindingMED" openTimeout="00:15:00" sendTimeout="00:15:00" maxBufferPoolSize="2147483647" maxBufferSize="1073741823" maxReceivedMessageSize="1073741823">
          <readerQuotas maxDepth="1073741823" maxStringContentLength="1073741823" maxArrayLength="1073741823" maxBytesPerRead="1073741823" maxNameTableCharCount="1073741823"/>
          <security mode="Transport">
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>
      </netTcpBinding>
      <basicHttpBinding>
        <binding name="basicHttpBindingMAX" openTimeout="00:15:00" sendTimeout="00:15:00" maxBufferPoolSize="4294967294" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
        <binding name="basicHttpBindingMED" openTimeout="00:15:00" sendTimeout="00:15:00" maxBufferPoolSize="2147483647" maxBufferSize="1073741823" maxReceivedMessageSize="1073741823">
          <readerQuotas maxDepth="1073741823" maxStringContentLength="1073741823" maxArrayLength="1073741823" maxBytesPerRead="1073741823" maxNameTableCharCount="1073741823"/>
        </binding>
      </basicHttpBinding>
    </bindings>

    <services>
      <service name="QIQO.Business.Services.AccountService" behaviorConfiguration="mexBehaviour">
        <!--<endpoint address="QIQOAccountService" binding="basicHttpBinding" contract="QIQO.Business.Contracts.IAccountService" 
                  behaviorConfiguration="mexEndPointBehaviour"
                  bindingConfiguration="basicHttpBindingMAX"/>-->
        <endpoint address="QIQOAccountService" binding="netTcpBinding" contract="QIQO.Business.Contracts.IAccountService"
                  behaviorConfiguration="mexEndPointBehaviour"
                  bindingConfiguration="netTcpBindingMAXTxn"/>
        <endpoint address="QIQOAccountServiceMex" binding="mexHttpBinding" contract="IMetadataExchange">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7476/QIQOAccountService"/>
            <add baseAddress="net.tcp://localhost:7478/QIQOAccountService"/>
          </baseAddresses>
        </host>
      </service>

      <service name="QIQO.Business.Services.AddressService" behaviorConfiguration="mexBehaviour">
        <!--<endpoint address="QIQOAddressService" binding="basicHttpBinding" contract="QIQO.Business.Contracts.IAddressService" 
                  behaviorConfiguration="mexEndPointBehaviour"/>-->
        <endpoint address="QIQOAddressService" binding="netTcpBinding" contract="QIQO.Business.Contracts.IAddressService"
                  behaviorConfiguration="mexEndPointBehaviour"/>
        <endpoint address="QIQOAddressServiceMex" binding="mexHttpBinding" contract="IMetadataExchange">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7476/QIQOAddressService"/>
            <add baseAddress="net.tcp://localhost:7478/QIQOAddressService"/>
          </baseAddresses>
        </host>
      </service>

      <service name="QIQO.Business.Services.AuditService" behaviorConfiguration="mexBehaviour">
        <!--<endpoint address="QIQOAuditService" binding="basicHttpBinding" contract="QIQO.Business.Contracts.IAuditService" behaviorConfiguration="mexEndPointBehaviour"/>-->
        <endpoint address="QIQOAuditService" binding="netTcpBinding" contract="QIQO.Business.Contracts.IAuditService"
                  behaviorConfiguration="mexEndPointBehaviour"/>
        <endpoint address="QIQOAuditServiceMex" binding="mexHttpBinding" contract="IMetadataExchange">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7476/QIQOAuditService"/>
            <add baseAddress="net.tcp://localhost:7478/QIQOAuditService"/>
          </baseAddresses>
        </host>
      </service>

      <service name="QIQO.Business.Services.CompanyService" behaviorConfiguration="mexBehaviour">
        <!--<endpoint address="QIQOCompanyService" binding="basicHttpBinding" contract="QIQO.Business.Contracts.ICompanyService" behaviorConfiguration="mexEndPointBehaviour"/>-->
        <endpoint address="QIQOCompanyService" binding="netTcpBinding" contract="QIQO.Business.Contracts.ICompanyService"
                  behaviorConfiguration="mexEndPointBehaviour"
                  bindingConfiguration="netTcpBindingMAXTxn"/>
        <endpoint address="QIQOCompanyServiceMex" binding="mexHttpBinding" contract="IMetadataExchange">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7476/QIQOCompanyService"/>
            <add baseAddress="net.tcp://localhost:7478/QIQOCompanyService"/>
          </baseAddresses>
        </host>
      </service>

      <service name="QIQO.Business.Services.EmployeeService" behaviorConfiguration="mexBehaviour">
        <!--<endpoint address="QIQOEmployeeService" binding="basicHttpBinding" contract="QIQO.Business.Contracts.IEmployeeService" behaviorConfiguration="mexEndPointBehaviour"/>-->
        <endpoint address="QIQOEmployeeService" binding="netTcpBinding" contract="QIQO.Business.Contracts.IEmployeeService"
                  behaviorConfiguration="mexEndPointBehaviour"
                  bindingConfiguration="netTcpBindingMAXTxn"/>
        <endpoint address="QIQOEmployeeServiceMex" binding="mexHttpBinding" contract="IMetadataExchange">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7476/QIQOEmployeeService"/>
            <add baseAddress="net.tcp://localhost:7478/QIQOEmployeeService"/>
          </baseAddresses>
        </host>
      </service>

      <service name="QIQO.Business.Services.EntityProductService" behaviorConfiguration="mexBehaviour">
        <!--<endpoint address="QIQOEntityProductService" binding="basicHttpBinding" contract="QIQO.Business.Contracts.IEntityProductService" 
                  behaviorConfiguration="mexEndPointBehaviour"/>-->
        <endpoint address="QIQOEntityProductService" binding="netTcpBinding" contract="QIQO.Business.Contracts.IEntityProductService"
                  behaviorConfiguration="mexEndPointBehaviour"
                  bindingConfiguration="netTcpBindingMAXTxn"/>
        <endpoint address="QIQOEntityProductServiceMex" binding="mexHttpBinding" contract="IMetadataExchange">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7476/QIQOEntityProductService"/>
            <add baseAddress="net.tcp://localhost:7478/QIQOEntityProductService"/>
          </baseAddresses>
        </host>
      </service>

      <service name="QIQO.Business.Services.FeeScheduleService" behaviorConfiguration="mexBehaviour">
        <!--<endpoint address="QIQOFeeScheduleService" binding="basicHttpBinding" contract="QIQO.Business.Contracts.IFeeScheduleService" behaviorConfiguration="mexEndPointBehaviour"/>-->
        <endpoint address="QIQOFeeScheduleService" binding="netTcpBinding" contract="QIQO.Business.Contracts.IFeeScheduleService"
                  behaviorConfiguration="mexEndPointBehaviour"
                  bindingConfiguration="netTcpBindingMAXTxn"/>
        <endpoint address="QIQOFeeScheduleServiceMex" binding="mexHttpBinding" contract="IMetadataExchange">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7476/QIQOFeeScheduleService"/>
            <add baseAddress="net.tcp://localhost:7478/QIQOFeeScheduleService"/>
          </baseAddresses>
        </host>
      </service>

      <service name="QIQO.Business.Services.InvoiceService" behaviorConfiguration="mexBehaviour">
        <!--<endpoint address="QIQOInvoiceService" binding="basicHttpBinding" contract="QIQO.Business.Contracts.IInvoiceService" 
                  behaviorConfiguration="mexEndPointBehaviour"/>-->
        <endpoint address="QIQOInvoiceService" binding="netTcpBinding" contract="QIQO.Business.Contracts.IInvoiceService"
                  behaviorConfiguration="mexEndPointBehaviour"
                  bindingConfiguration="netTcpBindingMAXTxn"/>
        <endpoint address="QIQOInvoiceServiceMex" binding="mexHttpBinding" contract="IMetadataExchange">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7476/QIQOInvoiceService"/>
            <add baseAddress="net.tcp://localhost:7478/QIQOInvoiceService"/>
          </baseAddresses>
        </host>
      </service>

      <service name="QIQO.Business.Services.LedgerService" behaviorConfiguration="mexBehaviour">
        <endpoint address="QIQOLedgerService" binding="netTcpBinding" contract="QIQO.Business.Contracts.ILedgerService"
                  behaviorConfiguration="mexEndPointBehaviour"/>
        <endpoint address="QIQOLedgerServiceMex" binding="mexHttpBinding" contract="IMetadataExchange">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7476/QIQOLedgerService"/>
            <add baseAddress="net.tcp://localhost:7478/QIQOLedgerService"/>
          </baseAddresses>
        </host>
      </service>

      <service name="QIQO.Business.Services.OrderService" behaviorConfiguration="mexBehaviour">
        <!--<endpoint address="QIQOOrderService" binding="basicHttpBinding" contract="QIQO.Business.Contracts.IOrderService"
                  behaviorConfiguration="mexEndPointBehaviour"
                  bindingConfiguration="basicHttpBindingMAX"/>-->
        <endpoint address="QIQOOrderService" binding="netTcpBinding" contract="QIQO.Business.Contracts.IOrderService"
                  behaviorConfiguration="mexEndPointBehaviour"
                  bindingConfiguration="netTcpBindingMAXTxn"/>
        <endpoint address="QIQOOrderServiceMex" binding="mexHttpBinding" contract="IMetadataExchange">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7476/QIQOOrderService"/>
            <add baseAddress="net.tcp://localhost:7478/QIQOOrderService"/>
          </baseAddresses>
        </host>
      </service>

      <service name="QIQO.Business.Services.ProductService" behaviorConfiguration="mexBehaviour">
        <!--<endpoint address="QIQOProductService" binding="basicHttpBinding" contract="QIQO.Business.Contracts.IProductService" 
                  behaviorConfiguration="mexEndPointBehaviour"
                  bindingConfiguration="basicHttpBindingMAX"/>-->
        <endpoint address="QIQOProductService" binding="netTcpBinding" contract="QIQO.Business.Contracts.IProductService"
                  behaviorConfiguration="mexEndPointBehaviour"
                  bindingConfiguration="netTcpBindingMAXTxn"/>
        <endpoint address="QIQOProductServiceMex" binding="mexHttpBinding" contract="IMetadataExchange">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7476/QIQOProductService"/>
            <add baseAddress="net.tcp://localhost:7478/QIQOProductService"/>
          </baseAddresses>
        </host>
      </service>

      <service name="QIQO.Business.Services.SessionService" behaviorConfiguration="mexBehaviour">
        <!--<endpoint address="QIQOSessionService" binding="basicHttpBinding" contract="QIQO.Business.Contracts.ISessionService" 
                  behaviorConfiguration="mexEndPointBehaviour"/>-->
        <endpoint address="QIQOSessionService" binding="netTcpBinding" contract="QIQO.Business.Contracts.ISessionService"
                  behaviorConfiguration="mexEndPointBehaviour"/>
        <endpoint address="QIQOSessionServiceMex" binding="mexHttpBinding" contract="IMetadataExchange">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7476/QIQOSessionService"/>
            <add baseAddress="net.tcp://localhost:7478/QIQOSessionService"/>
          </baseAddresses>
        </host>
      </service>

      <service name="QIQO.Business.Services.TypeService" behaviorConfiguration="mexBehaviour">
        <!--<endpoint address="QIQOTypeService" binding="basicHttpBinding" contract="QIQO.Business.Contracts.ITypeService" 
                  behaviorConfiguration="mexEndPointBehaviour"/>-->
        <endpoint address="QIQOTypeService" binding="netTcpBinding" contract="QIQO.Business.Contracts.ITypeService"
                  behaviorConfiguration="mexEndPointBehaviour"/>
        <endpoint address="QIQOTypeServiceMex" binding="mexHttpBinding" contract="IMetadataExchange">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7476/QIQOTypeService"/>
            <add baseAddress="net.tcp://localhost:7478/QIQOTypeService"/>
          </baseAddresses>
        </host>
      </service>

      <service name="QIQO.Business.Services.IdentityUserService" behaviorConfiguration="mexBehaviour">
        <endpoint address="QIQOIdentityUserService" binding="netTcpBinding" contract="QIQO.Business.Contracts.IIdentityUserService"
                  behaviorConfiguration="mexEndPointBehaviour"
                  bindingConfiguration="netTcpBindingMAXTxn"/>
        <endpoint address="QIQOIdentityUserServiceMex" binding="mexHttpBinding" contract="IMetadataExchange">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7476/QIQOIdentityUserService"/>
            <add baseAddress="net.tcp://localhost:7478/QIQOIdentityUserService"/>
          </baseAddresses>
        </host>
      </service>

      <service name="QIQO.Business.Services.IdentityRoleService" behaviorConfiguration="mexBehaviour">
        <endpoint address="QIQOIdentityRoleService" binding="netTcpBinding" contract="QIQO.Business.Contracts.IIdentityRoleService"
                  behaviorConfiguration="mexEndPointBehaviour"
                  bindingConfiguration="netTcpBindingMAXTxn"/>
        <endpoint address="QIQOIdentityRoleServiceMex" binding="mexHttpBinding" contract="IMetadataExchange">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7476/QIQOIdentityRoleService"/>
            <add baseAddress="net.tcp://localhost:7478/QIQOIdentityRoleService"/>
          </baseAddresses>
        </host>
      </service>

    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <!--<QIQOAudit enabled="true"/>-->
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="mexEndPointBehaviour">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>

  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender, log4net">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{MM/dd/yyyy hh:mm:ss.ffff} %-5level - %message%newline"/>
      </layout>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="log.txt"/>
      <appendToFile value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{MM/dd/yyyy hh:mm:ss.ffff} %-5level - %message%newline"/>
      </layout>
    </appender>

    <logger name="QIQO.Common.Core">
      <level value="ALL"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="FileAppender"/>
    </logger>
  </log4net>

</configuration>
